@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color:#1C5D99;
    color:#FFFF;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    padding:0px;
    margin:0px auto;
    width:100%;

}
header {
    padding-top: 60px;
    text-align:center;
}
header h1 {
    font-size: 200px;
}
header h2 {
    font-size: 40px;
    
}

.middle {
    width:100%;
    text-align:center;
}

img {
    height: 200px;
}

#ngd {
    color:#639FAB;
}

.quote {
    padding: 50px; 
    background-color:#222222;
    width:100%;
    margin-top :55px;

}