@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

body {
    background-color:#1C5D99;
    color:#FFFF;
    font-family: 'Smooch Sans', sans-serif;
}

header {
    padding-top: 60px;
    text-align:center;
}
header h1 {
    font-size: 200px;
}
header h2 {
    font-size: 40px;
    
}

.middle {
    width:100%;
    text-align:center;
}

img {
    height: 200px;
}

#ngd {
    color:#639FAB;
    text-shadow:black 3px 3px;
}

.certs {
    padding: 50px; 
    background-color:#222222;
    width:100%;
    margin-top :55px;
    text-align:center;
}

.experience {
    text-align:center;
    padding:50px;
    background-color:#639FAB;
}

.videos {
    text-align:center;
    padding:50px;
    background-color:#1C5D99;
}

.contact {
    text-align:center;
    padding:50px;
    background-color:#639FAB;
}

footer{
    text-align:center;
    padding:50px;
    background-color:#1C5D99;
}